<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Now Playing!</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
</head>

<body>
  <section class="hero is-warning">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Now playing in San Francisco!
        </h1>
        <span></span>
        <h2 class="subtitle">
          This page shows #nowplaying tweets in San Francisco that contain a youtube link. It also allows you to post a tweet with
          a Youtube link.
        </h2>
        <form action="/index/tweet" method="post">
          <div class="field is-horizontal">
            <div class="field-body">
              <div class="field">
                <p class="control is-expanded has-icons-left">
                  <input id="videourl" name="videourl" class="input" type="url" placeholder="Youtube video URL" required>
                  <span class="icon is-small is-left">
                    <i class="fab fa-youtube"></i>
                  </span>
                </p>
              </div>
              <div class="field">
                <p class="control is-expanded has-icons-left">
                  <input id="comments" name="comments" class="input is-success" type="text" placeholder="Type your comment..." required>
                  <span class="icon is-small is-left">
                    <i class="fas fa-comments"></i>
                  </span>
                </p>
              </div>
              <div class="field">
                <p class="control is-expanded has-icons-left">
                  <button id="test" class="button is-link is-rigth">&nbsp;&nbsp;&nbsp;&nbsp;Tweet to #nowplaying</button>
                  <span class="icon is-small is-left has-text-white">
                    <i class="fab fa-twitter"></i>
                  </span>
                </p>
                </p>
              </div>
            </div>
        </form>
        </div>
      </div>
  </section>
  <section>
      <%- include("tlog", {tweets: tweets}); %>
  </section>
</body>

</html>